#twitter-logo{
    width: 20%;
    position: relative;
    left: 30%;
    
}

.container{
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.card{
    min-height: 50%;
    min-width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: red;
    border: solid;
}


#center{
    position: relative;
    top: 100px;
    
}

#footer{
    position: static;
}

p,h1,h2,h5,div{
    color: white;
}