#twitter-logo{
    width: 4%;
    position: relative;
    left: 10px;
    top:10px;
}

.container{
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

h1#opening_text{
    font-size: 80px;
    font-weight: bold;
    left: 20%;
}

h1#opening_text_2{
    font-weight: bold;
}

.card{
    min-height: 50%;
    min-width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: red;
    border: solid;
}


#center{
    position: relative;
    top: 100px;
    
}

#footer{
    position: static;
}

p,h1,h2,h5,div{
    color: white;
}